* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.header {
  background-color: aquamarine;
  padding: 48px;
  font-size: 48px;
  text-align: center;
}

.section:after {
  content: "";
  display: table;
  clear: both;
}

.menu {
  float: left;
  width: 20%;
  padding: 32px;
  background-color: blueviolet;
}

.questions {
  float: left;
  width: 20%;
  padding: 12px;
  background-color: #223423;
}

.article {
  float: left;
  width: 60%;
  padding: 32px;
  background-color: dodgerblue;
}

.footer {
  background-color: black;
  color: white;
  padding: 24px;
  font-size: 24px;
  text-align: center;
}

@media (max-width: 960px) {
  .questions {
    width: 100%;
  }
  .article {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .menu, .questions, .article {
    width: 100%;
  }
}